.DS_Store
.idea

.settings
*.csv
*.dat
!**/src/test/resources/**/*.csv
!**/src/test/resources/**/*.dat
!**/testData/**/*.csv
!**/testData/**/*.CSV
!**/testData/**/*.dat
**/testData/**/ipss.plugin.3phase/
**/testData/**/ieee123_netString.dat
**/testData/**/IEEE8500*_EXP_*.csv
**/testData/**/Normalized-*.CSV
**/testData/**/AC-Loadflow-*.csv
!ipss.plugin.3phase/testData/feeder/IEEE8500/Normalized-1s-2900-pts.CSV
*.prefs
/.classpath
.project
/.cursorignore
/logs/
/ipss.plugin.3phase/logs/*.log
**/.flattened-pom.xml
.vscode/settings.json

ipss.plugin.py/sample/results/*.*
.venv/
ipss.plugin.3phase/src/test/python/__pycache__/

.factorypath
